<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Aplicación Angular CRUD</a>
</nav>

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li
          *ngFor="let empleado of empleadosArray"
        class="list-group-item list-group-item-action"
        (click)="openForEdit(empleado)">
          <span class="badge badge-primary">{{empleado.id}}&nbsp;</span>
          {{empleado.nombre}} - {{empleado.pais}}
        </li>
      </ul>

      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Inserta un nuevo empleado
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="empleadoSeleccionado.nombre" placeholder="Introduce tu nombre..." class="form-control">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="empleadoSeleccionado.pais" placeholder="Introduce tu país..." class="form-control">
          </div>
          <button (click)="addOrEdit()" class="btn btn-primary">Registrar empleado</button>
          <span>&nbsp;&nbsp;</span>
          <button
          *ngIf="empleadoSeleccionado.id != 0"
          (click)="delete()"
          class="btn btn-danger">Eliminar empleado
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img width="300" alt="Logo" src="https://i.imgur.com/a2yJ3rw.png" draggable="false">
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center" style="color:white;">Una producción de Cristian Cabrera & Jesús Díaz || &copy; 2019</p>
    </div>
  </div>
</div>
